@use "./variables";
@use "./mixin";
@use "sass:map";

.filter{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 16px;
    margin-bottom: 60px;  
    
    @include mixin.media(700px){
        display: flex;
        flex-direction: column;

    }
    
}

.filter_search{
    min-width: 60px;
    width: 40%;
    max-width: 405px;
    padding: 12px 16px;
    background-color: map-get(variables.$colors, 1A);
    border-radius: 32px;

    @include mixin.media(700px){
        width: 100%;
    }

    label{
        display: flex;
        align-items: center;
        
    }
    
    input{
        @include mixin.font16;
        min-width: 0;
        width: 325px;
        line-height: 1rem;
        background-color: transparent;
        border: none;
        color: #e4f4f4;
    }

}
 
.filter_btn{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    @include mixin.media(700px){
        width: auto;
    }


    &_span{
        @include mixin.font14;
        min-width: 80px;
        color: #e4f4f4;
    }

    label{
        background-color: map-get(variables.$colors, 31);
        display: flex;
        align-items: center;
        flex-direction: row;
        border-radius: 32px;
        gap: 8px;
        padding:4px 8px;


        
        &:nth-child(2){
            width: 140px;
            @include mixin.media(700px){
                width: 40px;
                height: 40px;
                padding: auto;
            }
        }
        
        &:nth-child(3){
            width: 136px;
            img{
                width: 24px;
                height: 24px;
            }
            @include mixin.media(700px){
                width: 40px;
                height: 40px;
                padding: auto;
            }
        }

        &:nth-child(4){
            width: 120px;
            @include mixin.media(700px){
                width: 40px;
                height: 40px;
                padding: auto;
            }
        }



        input{
            @include mixin.font16;
            color: map-get(variables.$colors, aaa);
            background-color: transparent;
            border: none;

            @include mixin.media(700px){
                width: 0;
            }


        }
    }
}
    